# **Day 2**

---



*Data Types, Numbers, Operations, Types Conversion, f-strings*

*Python Primitive Data Types*

---

In [ ]:
print(len("Hello"))

5

In [ ]:
print(len(12352))

TypeError: object of type 'int' has no len()

In [ ]:
# Data Types
# String
# Integer
# Float
# Boolean

In [ ]:
# String

print("Hello"[0])
# Subscript
# H[0]e[1]l[2]l[3]0[4]
print("Hello"[4])
print("123" + "345")
print("Hello" + "World!")

H
o
123345
HelloWorld!

In [ ]:
# Integer

print(123 + 345)
num = 123
print(type(num))

468
<class 'int'>

In [ ]:
# Float

f = 3.1459
print(type(f))

<class 'float'>

In [ ]:
# Boolean
a = True
b = False

print(type(a))
print(type(b))

<class 'bool'>
<class 'bool'>

In [ ]:
len(4837)

TypeError: object of type 'int' has no len()

In [ ]:
num_char = len(input("What is your name?"))
print("Your name has " + num_char + " characters.")

What is your name?Krishna

TypeError: can only concatenate str (not "int") to str

In [ ]:
print(type(num_char))

<class 'int'>

In [ ]:
print(type(len(input("What is your name?"))))

What is your name?Krishna
<class 'int'>

In [ ]:
new_num_char = str(num_char)
print("Your name has " + new_num_char + " characters.")

Your name has 7 characters.

In [ ]:
a = 123
print(type(a))

<class 'int'>

In [ ]:
a = str(123)
print(type(a))

<class 'str'>

In [ ]:
a = float(123)
print(type(a))

<class 'float'>

In [ ]:
print(70 + float("100.5"))

170.5

In [ ]:
print(str(70) + str(100))

70100

In [ ]:
two_digit_number = input()
# Write your code below
print(type(two_digit_number))

32
<class 'str'>

In [ ]:
two_digit_number = input()

first_digit = int(two_digit_number[0])
second_digit = int(two_digit_number[1])

# Add the two integers together
two_digit_number = first_digit + second_digit

print(two_digit_number)

32
5

*Mathematical Operations in Python*

---

In [ ]:
3 + 5

8

In [ ]:
7 - 4

3

In [ ]:
3 * 2

6

In [ ]:
print(6 / 3)

2.0

In [ ]:
print(type(6 / 3))

<class 'float'>

In [ ]:
print(2 ** 2)

4

In [ ]:
2 ** 3

8

In [ ]:
# PEMDASLR
# ()
# **
# *
# /
# +
# -

In [ ]:
print(3 * 3 + 3  / 3 - 3)

7.0

In [ ]:
print(3 * (3 + 3) / 3 - 3)

3.0

*BMI Calculator*

---

In [ ]:
# 1st input: enter height in meters e.g., 1.65
height = input()
# 2nd input: enter weight in kilograms e.g., : 72
weight = input()
# Write your code below
weight_as_int = int(weight)
height_as_float = float(height)
# Using the exponent operator **
bmi = weight_as_int / height_as_float ** 2
# or using multiplication and PEMDAS
bmi = weight_as_int / (height_as_float * height_as_float)

bmi_as_int = int(bmi)
print(bmi_as_int)

1.63
69
25

*Number Manipulation and Fstring in Python*

---

In [ ]:
print(8 / 3)

2.6666666666666665

In [ ]:
print(int(8 / 3))

2

In [ ]:
print(round(8 / 3))

3

In [ ]:
print(round(8 / 3, 2))

2.67

In [ ]:
print(round(2.666666666666, 2))

2.67

In [ ]:
print(8 // 3)

2

In [ ]:
print(type(8 // 3))

<class 'int'>

In [ ]:
print(type(8 / 3))

<class 'float'>

In [ ]:
result = 4 / 2
result /= 2
print(result)

1.0

In [ ]:
score = 0
# User scores a point
score += 1
print(score)

1

In [ ]:
score = 0
print("Your score is " + score)

TypeError: can only concatenate str (not "int") to str

In [ ]:
print("Your score is " + str(score))

Your score is 0

In [ ]:
score = 0
height = 1.8
isWinning = True
# f-string
print(f"Your score is {score}, your height is {height}, your are winning is {isWinning} "  )

Your score is 0, your height is 1.8, your are winning is True

*Life in Weeks*

---

In [ ]:
age = input()
# Your code below this line
years = 90 - int(age)
weeks = years * 52

print(f"You have {weeks} left.")

41
You have 2548 left.

*Mathematical Operations Quiz*

---

*Question 1:*

*You are a computer. What will this line of code print?*

    print(6 + 4 / 2 - (1 * 2))

In [1]:
print(6 + 4 / 2 -(1 * 2))

6.0

*Question 2:*

*What is the data type of the result of the variable a in the following line of code:*

    a = int("5") / int(2.7)

In [3]:
a = int("5") / int(2.7)
print(type(a))

<class 'float'>

*int("5") is 5, int(2.7) is 2, so the code becomes: a = 5 ÷ 2 which equals 2.5, which is a float.*

In [4]:
age = 12
print("You are " + age + " years old")

TypeError: can only concatenate str (not "int") to str

**Project :** *Tip Calculator*

---
**Instructions**

*If the bill was $150.00.Split between  5 people. with 12% tip.*

*Each person should pay (150.00/5)*1.12 = *33.6*

*Format the result to 2 decimal places = 33.60*

*Thus everyone's share of the total bill is  💲30.00 plus a 💲3.60 tip.*

*Tip : There are 2 ways to round a number. You might have to do some Googling to solve this. 🦾*

**Example Input**

    Welcome to the tip Calculator!
    What was the total bill? $124.56
    How much tip would you like to give? 10, 12, or 15? 12
    How many people to split the bill? 7

In [ ]:
# If the bill was $150.00, split between 5 people, with 12% tip.
# Each person should pay (150.00 / 5) * 1.12 = 33.6
# Round the result to 2 decimal places = 33.60

In [5]:
12/100

0.12

In [6]:
150*0.12

18.0

In [7]:
150+18

168

In [8]:
150*1.12

168.00000000000003

In [9]:
168/5

33.6

In [12]:
print("Welcome to the tip Calculator!")
bill = float(input("What was the total bill? $"))
tip = int(input("How much would tip would you like to give? 10, 12, or 15? "))
people = int(input("How many people to split the bill?"))
tip_as_percent = tip / 100
total_tip_amount = bill * tip_as_percent
total_bill = bill + total_tip_amount
bill_per_person = total_bill / people
final_amount = round(bill_per_person, 2)
final_amount = "{:.2f}".format(bill_per_person)
print(f"Each person should pay ${final_amount}")

Welcome to the tip Calculator!
What was the total bill? $150
How much would tip would you like to give? 10, 12, or 15? 12
How many people to split the bill?5
Each person should pay $33.60