# *Printing to the Console in Python ðŸ–¨*

In [ ]:
print("Hello World!")

Hello World!

In [ ]:
print("Something")

Something

In [ ]:
# forgotten to add (") the double quote at the end of the string!.
print("Hello world!)

SyntaxError: unterminated string literal (detected at line 2) (<ipython-input-12-ea85e39a1d2a>, line 2)

*You're missing double quote at the end!* ðŸ‘†

In [ ]:
print("Hello world!)")

Hello world!)

*Print Modifiers*

---

In [ ]:
print("She said: "Hello" and then left.")

SyntaxError: invalid syntax. Perhaps you forgot a comma? (<ipython-input-13-a6d1057d23fc>, line 1)

In [ ]:
print('She said: "Hello" and then left.')

She said: "Hello" and then left.

In [ ]:
print("She said: \"Hello\" and then left.")

She said: "Hello" and then left.

In [ ]:
print("A 'single quote' inside a double quote")
print('A"double quote" inside a single quote')
print("Alternatively you can just\"escape\" the quote")

A 'single quote' inside a double quote
A"double quote" inside a single quote
Alternatively you can just"escape" the quote

*String Manipulation and Code Intelligence*

---

In [ ]:
print("Hello world!")
print("Hello world!")
print("Hello world!")

Hello world!
Hello world!
Hello world!

In [ ]:
print("Hello world!\nHello world!")

Hello world!
Hello world!

In [ ]:
print("Hello world!\nHello world!\nHello world!")

Hello world!
Hello world!
Hello world!

In [ ]:
# String Concatenation
print("Hello" + "Krishna")

HelloKrishna

In [ ]:
print("Hello" +" "+ "Krishna")

Hello Krishna

In [ ]:
   print("Hello"+" "+"World!")

Hello World!

In [ ]:
prit("Hello world")

NameError: name 'prit' is not defined

In [ ]:
 print('qwerty')

qwerty

*Debugging Practice*

---

In [ ]:
print(Day 1 - String Manipulation")
print("String Concatenation is done with "+" ssign.")
  print('e.g., print("Hello " + "world")')
print(("New lines can be created with a backslash and n.")

SyntaxError: unterminated string literal (detected at line 1) (<ipython-input-19-87df7e3869b8>, line 1)

In [ ]:
# 1. Missing double quotes before the word day.
print("Day 1 - String Manipulation")

# 2.Outer double quotes changed to a single quotes.
print('String Concatenation is done with the "+" sign.')

# 3. Extra indentation removed
print('e.g., print("Hello " + "world!")')

# 4. Extra ( in print function removed
print("New lines can be created with a backslash and n.")

Day 1 - String Manipulation
String Concatenation is done with the "+" sign.
e.g., print("Hello " + "world!")
New lines can be created with a backslash and n.

*The Python Input Function*

---

input( )function
    
    input("A prompt for the user")

In [ ]:
print("What is your name?")

What is your name?

In [ ]:
input("What is your name?")

What is your name?Krishna

'Krishna'

In [ ]:
# input() will get input in console
# Then print() will print the word  "Hello" and the user input
print("Hello " + input("What is your name?"))

What is your name?Chintu
Hello Chintu

*Shortcut keys to comment for do and undo : ctrl+/ and ctrl+z*

*Input Function*

---

In [ ]:
print(input())
print(input())
print(input())
print(input())
print(input())

Ram
Ram
Bharath
Bharath
Lakshman
Lakshman
Shatrugna
Shatrugna
Hanuman
Hanuman

In [ ]:
num1 = int(input())
num2 = int(input())

print(num1 * num2)

2
3
6

In [ ]:
num1 = int(input())
num2 = int(input())

print(6)

5
5
6

In [ ]:
numOfLetters = len("Krishna")
print(numOfLetters)

7

In [ ]:
print(len(input()))

Rishi
5

*Python Variables*

---

*Variable*  

      Krishna = 012345

In [ ]:
name = input("What is your name?")
print(name)

What is your name?Jhansi
Jhansi

In [ ]:
name = "Radha"
print(name)

name = "Krishna"
print(name)

print(len(input("What is your name?")))

Radha
Krishna
What is your name?Lakshmi Bhai
12

In [ ]:
name = input("What is your name?")
length = len(name)
print(length)

What is your name?Gopal
5

*Variables*

---

In [ ]:
# There are two variables, a and b from input
a = input()
b = input()
# Write your code below this line
c = a
a = b
b = c
# Write your code above this line
print("a: "+ a), print("b: "+ b);

29
41
a: 41
b: 29

In [ ]:
# There are two variables, a and b from input
a = input()
b = input()
# Create a third variable to help switch the value
c = a
a = b
b = c
print("a: " + a), print("b: " + b);

Assembly
Basic
a: Basic
b: Assembly

*Variable Naming*

---

In [ ]:
n = input("What is your name?")
l = len(n)
print(l)

What is your name?Maruthi
7

In [ ]:
User name = input("What is your name?")

SyntaxError: invalid syntax (<ipython-input-36-85bd66be5a22>, line 1)

In [ ]:
input = input("What is your name?")

What is your name?Ganesh

In [ ]:
user_name = input("What is your name?")

TypeError: 'str' object is not callable

In [ ]:
name = "Arjun"
print(nama)

NameError: name 'nama' is not defined

**Project :** *Band Name Generator*

In [ ]:
# 1. Create  a greeting for your program.
print("Welcome to the band name generator.")

# 2. Ask the user for the city that they grew up in.
city = input("Which city did you grow up in?\n")

# 3.Ask the user for the name of a pet.
pet = input("What is the name of a pet?\n")

# 4.Combine the name of their city and pet and show thier band name.
print("Your band name could be " + city + " "+ pet)